.forget-title {
  text-align: center;
  letter-spacing: 0px;
  color: #414141;
  font-family: "Noto Sans", sans-serif;
  font-size: 22px;
}
.forget-text {
  text-align: center;
  letter-spacing: 0px;
  color: #414141;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
}
