@{
    ViewData["Title"] = "Forget Password";
}
<div class="input-container d-flex flex-column">
                <p class="forget-title">Forgot Password</p>
                <p class="forget-text">Enter your email address you've using for your account below and we will send you
                    a
                    password reset link</p>

                <label for="email" class="lbl-design">Email Address</label>
                <input id="email" type="email" class="input-design" placeholder="evan.donohue@gmail.com">
                @*<span asp-validation-for="emiail"></span>*@

                <a asp-controller="Home" asp-action="ResetPassword" class="forget-btn">Reset my Password</a>
                <a asp-area="" class="lost-pass" asp-controller="Home" asp-action="Login">Login</a>
                    <div class="privacy-container">

                        <p class="privacy">Privacy Policy</p>
        
                    </div>
            </div>