@{
    ViewData["Title"] = "Reset Password";
}

            <div class="input-container d-flex flex-column">

                <P class="reset-title">New Password</P>
                <P class="reset-text">Please enter a new password in the fields below.</P>

                <label for="pass" class="lbl-design">New Password</label>
                <input type="password" class="input-design" value="">
                <label for="pass" class="lbl-design">Confirm New Password</label>
                <input type="password" class="input-design" value="">
                <a class="reset-btn" asp-controller="Home" asp-action="ResetPassword" >Change Password</a>
                <a class="lost-pass" asp-controller="Home" asp-action="Login">Login</a>
                    
                    <div class="privacy-container">

                        <p class="privacy">Privacy Policy</p>
        
                    </div>

            </div>