<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success" (click)="AddRecipe()" >New Recipe</button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <app-recipe-add (RecipeAdd)="AddRecipeFromBack($event)" *ngIf="IsRecipeAdd" ></app-recipe-add>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <app-recipe-list [recipes]="recipes"></app-recipe-list>
    </div>
    <div class="col-md-7">
        <app-recipe-detail></app-recipe-detail>
    </div>
</div>
