<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CI_Platform</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CI_Platform.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/Forgetpass.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/Resetpass.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/Register.css" asp-append-version="true"/>
</head>
<body>
        <div class="container-fluid p-0">
    <div class="main-container d-flex">
        <div class="image-part">

            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
             
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../../assets/Grow-Trees-On-the-path-to-environment-sustainability-login.png"
                            class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <p class="big-text">Sed ut perspiciatis unde omnis iste natus voluptatem.</p>
                            <p class="small-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation
                                ullamco
                                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                in voluptate
                                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                proident,
                                sunt
                                in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="../../assets/Grow-Trees-On-the-path-to-environment-sustainability-login.png"
                            class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <p class="big-text">Sed ut perspiciatis unde omnis iste natus voluptatem.</p>
                            <p class="small-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation
                                ullamco
                                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                in voluptate
                                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                proident,
                                sunt
                                in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="../../assets/Grow-Trees-On-the-path-to-environment-sustainability-login.png"
                            class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <p class="big-text">Sed ut perspiciatis unde omnis iste natus voluptatem.</p>
                            <p class="small-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation
                                ullamco
                                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                in voluptate
                                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                proident,
                                sunt
                                in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="input-part">

            <main role="main" class="pb-3">
            @RenderBody()
        </main>
            

            
        </div>
    </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<main role="main" class="pb-3">
            @RenderBody()
        </main>

